.dCont {
  height: 80vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.contP {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  width: 75%;
  height: 55%;
  overflow: hidden;
  box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.2);
}

.imgD {
  transition: all 0.2s ease-in-out;
  width: 65%;
  position: relative;
  min-width: 65%;
  min-height: 450px;

}

.info {
  padding: 30px;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container > p {
  font-size: 18px;
}

.ligthDetail {
  transition: all 0.2s ease-in-out;
  background-color: rgb(121, 180, 246);
}

.darkDetail {
  transition: all 0.2s ease-in-out;
  background: rgba(155, 119, 228, 0.789);
}

@media screen and (max-width: 1000px) {
  .contP {
    flex-direction: column;
    width: 30%;
    height: 90%;
    min-width: 350px;
  }
  .imgD {
    bottom: 40px;
    width: 50% !important;
    min-width: 400px;
    min-height: 380px;
  }
  .container {
    display: flex;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 55px;

  }
  p {
    margin: 0;
  }
}

@media screen and (max-height: 750px) {
  .imgD {
    display: none;
  }
  .container {
    margin-bottom: 20px;
  }
}

