.error {
  width: 250px;
  height: 50px;
  opacity: 0;
  color: red;
  transition: opacity 0.5s ease-in-out;
  text-align: right;
  font-size: 15px;
}

.error.show {
  opacity: 1;
}

.INP{
  color: inherit;
  font-size: 20px;
  font-weight: 600;
}
.INP.showINP {

  color: red;
}

.pass{
  width: 250px;
  height: 50px;
  opacity: 0;
  color: rgb(255, 255, 255);
  transition: opacity 0.5s ease-in-out;
  text-align: right;
  font-size: 15px;
}

.pass.show {
  opacity: 1;
}

.formContainer{
  margin-top: 40px;
}

.form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  justify-content: center;
  height: 500px;
  padding: 20px;
}

.contact{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h1{
  margin: 10px 0px 0px 0;
}
p{
  font-weight: 500;
  font-size: 15px;
}

.inputText {
  resize: none;
  height: 160px;
  border: none;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  background-color: white;
  font-size: 12px;
}

.input{
  font-size: 12px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  width: 392px;
  height: 40px;
  background-color: white;
  border: none;
  border-bottom: 1px solid rgb(255, 255, 255);
}

.env{
  font-weight: 800;
  padding: 20px 40px;
  font-size: 12px;
  border: none;
  background-color: white;
  cursor: pointer;

  transition: all .2s ease-in-out;
}

.btnC{
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.env:hover{
  color: rgb(0, 0, 0);
  background-color: rgb(182, 225, 255);
}